#map{
    width:100%;
    height:400px;
}

#bar_chart{
    height:150px;
}

.totalbar {
  fill: steelblue;
}

.deathbar {
  fill: red;
}

.axis {
  font: 9px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect {
    shape-rendering: crispEdges;
}

.grid path,
.grid line{
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.container{
    min-width:912px;
}

.maplabel{
    fill: #666666;
}
.playPause{
  cursor: pointer;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-bottom: -4px;
  background:url(../playPauseSprite.png) 18px 18px no-repeat;
}

.playPause.paused{
  background-position:0px 0px;
}

.playPause.playing{
  background-position:-18px 0px;
}